* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
@font-face {
 font-family: Aventura;
 src: url(../tipografia/prevalent-demo.otf);
}

.container-fluid {
 min-height: 100vh;
 display: flex;
 justify-content: center;
}

.barraBuscador {
 width: 99%;
 max-width: 2000px;
 background: transparent;
 background-color: rgba(255, 255, 255, 0.468);
 border-radius: 60px;
 display: flex;
 align-items: center;
}

.barraBuscador input {
 background: transparent;
 border: transparent;
 flex: 1;
 outline: none;
 padding: 25px 20px;
 color: rgb(0, 0, 0);
 border-radius: 60px;
}

.barraBuscador button i {
 font-size: 30px;
}
.barraBuscador button {
 border-radius: 50%;
 border: 0;
 width: 60px;
 height: 60px;
 background: rgba(41, 44, 46, 0.294);
 margin-right: 1%;
}
.titulo {
 text-align: center;
 padding-top: 20%;
 font-size: 150px;
 width: 100%;
 font-family: Aventura;
 color: rgb(202, 212, 52);
}
.fonoVideo {
 width: 130%;
 height: auto;
 position: fixed;
 z-index: -1;
 display: flex;
}
.cuadrado {
 background-color: aqua;
}
